<ngx-spinner
    bdColor="rgba(57,103,99,0.5)"
    size="medium"
    color="#ffffff"
    type="ball-clip-rotate"
    [fullScreen]="true"
></ngx-spinner>
<div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="myModal modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Estamos trabajando en mejorar tu experiencia
                </h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                Esta funcionalidad estara displonible en proximas versiones
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="
                        navbarMine__modalButton
                        btn btn-secondary
                        navbarMine__btnModalPrimaryColor
                    "
                    data-bs-dismiss="modal"
                >
                    Ok
                </button>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light navbarMine">
    <!-- <a class="navbar-brand" 
    ><img class="navbarMine__item" src="assets/images/navbar/Quetz2.png" alt=""
  /></a> -->

    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav navbarMine__subNavBar">
            <li class="nav-item navbarMine__iconBird" routerLink="/home">
                <a class="nav-link"
                    ><img
                        class="navbarMine__item"
                        src="assets/images/navbar/Quetz2.png"
                        alt=""
                /></a>
            </li>
            <li
                class="nav-item navbarMine__navItem"
                routerLink="/home"
                [routerLinkActive]="'active'"
                *ngIf="!isAuthenticated"
            >
                <a class="nav-link navbarMine__navItemContainer"
                    ><img
                        class="navbarMine__item"
                        src="assets/images/navbar/hogar.png"
                        alt="home.png"
                /></a>
            </li>
            <li
                class="nav-item navbarMine__navItem"
                routerLink="/home"
                [routerLinkActive]="'active'"
                *ngIf="isAuthenticated"
            >
                <a class="nav-link navbarMine__navItemContainer"
                    ><img
                        class="navbarMine__item"
                        src="assets/images/navbar/hogar.png"
                        alt="home.png"
                /></a>
            </li>
            <li
                class="nav-item navbarMine__navItem"
                routerLink="./auth/signup"
                [routerLinkActive]="'active'"
                *ngIf="!isAuthenticated"
            >
                <a class="nav-link"
                    ><img
                        class="navbarMine__item"
                        src="assets/images/navbar/news.png"
                        alt="news.png"
                /></a>
            </li>
            <li
                class="nav-item navbarMine__navItem"
                (click)="workingAlert()"
                *ngIf="isAuthenticated"
            >
                <a class="nav-link"
                    ><img
                        class="navbarMine__item"
                        src="assets/images/navbar/news.png"
                        alt="news.png"
                /></a>
            </li>
            <li
                class="nav-item navbarMine__navItem"
                routerLink="./auth/signup"
                [routerLinkActive]="'active'"
                *ngIf="!isAuthenticated"
            >
                <a class="nav-link"
                    ><img
                        class="navbarMine__item"
                        src="assets/images/navbar/campana.png"
                        alt="campana.png"
                /></a>
            </li>
            <li
                class="nav-item navbarMine__navItem"
                routerLink="/notifications"
                [routerLinkActive]="'active'"
                *ngIf="isAuthenticated"
            >
                <a class="nav-link"
                    ><img
                        class="navbarMine__item"
                        src="assets/images/navbar/campana.png"
                        alt="campana.png"
                /></a>
            </li>

            <li class="nav-item navbarMine__3OptionLi">
                <button
                    type="button"
                    class="navbarMine__button"
                    *ngIf="isAuthenticated"
                    routerLink="/tutorial"
                >
                    Crear tutorial
                </button>
                <div ngbDropdown display="dynamic" placement="bottom-right">
                    <a
                        class="nav-link"
                        ngbDropdownToggle
                        *ngIf="isAuthenticated"
                        ><img
                            class="navbarMine__item"
                            src="assets/images/navbar/graduado.png"
                            alt=""
                        />
                    </a>
                    <div
                        ngbDropdownMenu
                        aria-labelledby="dropdownBasic1 "
                        class="dropdown-menu"
                    >
                        <button
                            ngbDropdownItem
                            routerLink="/profile"
                            [routerLinkActive]="'active'"
                        >
                            <img
                                class="navbarMine__itemDropDown"
                                src="assets/images/navbar/graduado.png"
                                alt="graduado.png"
                            />Perfil
                        </button>
                        <button ngbDropdownItem (click)="workingAlert()">
                            <img
                                class="navbarMine__itemDropDown"
                                src="assets/images/navbar/mundo.png"
                                alt="mundo.png"
                            />Idioma
                        </button>
                        <button ngbDropdownItem (click)="workingAlert()">
                            <img
                                class="navbarMine__itemDropDown"
                                src="assets/images/navbar/pregunta.png"
                                alt="pregunta.png"
                            />Envíanos un comentario
                        </button>
                        <button ngbDropdownItem (click)="workingAlert()">
                            <img
                                class="navbarMine__itemDropDown"
                                src="assets/images/navbar/engranaje.png"
                                alt="engranaje.png"
                            />Configuración
                        </button>
                        <button ngbDropdownItem (click)="logout()">
                            <img
                                class="navbarMine__itemDropDown"
                                src="assets/images/navbar/cerrar-sesion.png"
                                alt="cerrar-sesion.png"
                            />Cerrar sesión
                        </button>
                    </div>
                </div>
                <div class="navbarMine__inLine" *ngIf="!isAuthenticated">
                    <button
                        type="button"
                        class="navbarMine__button"
                        routerLink="/auth/login"
                    >
                        Ingresar
                    </button>
                    <button
                        type="button"
                        class="navbarMine__button"
                        routerLink="/auth/signup"
                    >
                        Registrarse
                    </button>
                </div>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>
