<div class="topics">
    <div class="card topics__card">
        <div class="topics__cardTitle">
            <h1>Elige 5 temas que te gusten</h1>
        </div>
        <div classs="container topics__cardForm">
            <div class="row">
                <div class="col">col</div>
                <div class="col">col</div>
            </div>
            <div class="row">
                <div class="col">col</div>
                <div class="col">col</div>
            </div>
            <div class="row">
                <div class="col">col</div>
                <div class="col">col</div>
            </div>
            <div class="row">
                <div class="col">col</div>
                <div class="col">col</div>
            </div>
            <div class="row">
                <div class="col">col</div>
                <div class="col">col</div>
            </div>
            <div class="row">
                <div class="col">col</div>
                <div class="col">col</div>
            </div>
            <div class="row">
                <div class="col">col</div>
                <div class="col">col</div>
            </div>
        </div>
        <button type="button" class="topics__button" routerLink="/">
            Siguiente
        </button>
    </div>
</div>
