<div class="topics">
    <div class="card topics__card">
        <div class="topics__cardTitle">
            <h1>Elige 5 temas que te gusten</h1>
        </div>
        <div class="info">
            <div class="info__row">
                <img
                    class="info__icon"
                    src="https://picsum.photos/300/300"
                    alt=""
                />
                <p class="info__description">Teoria musical</p>
            </div>
            <div class="info__row">
                <img
                    class="info__icon"
                    src="https://picsum.photos/300/300"
                    alt=""
                />
                <p class="info__description">Escritura</p>
            </div>
            <div class="info__row">
                <img
                    class="info__icon"
                    src="https://picsum.photos/300/300"
                    alt=""
                />
                <p class="info__description">Programación</p>
            </div>

            <div class="info__row">
                <img
                    class="info__icon"
                    src="https://picsum.photos/300/300"
                    alt=""
                />
                <p class="info__description">Idiomas</p>
            </div>
            <div class="info__row">
                <img
                    class="info__icon"
                    src="https://picsum.photos/300/300"
                    alt=""
                />
                <p class="info__description">Dibujo</p>
            </div>
            <div class="info__row">
                <img
                    class="info__icon"
                    src="https://picsum.photos/300/300"
                    alt=""
                />
                <p class="info__description">Cocina</p>
            </div>
            <div class="info__row">
                <img
                    class="info__icon"
                    src="https://picsum.photos/300/300"
                    alt=""
                />
                <p class="info__description">Carpinteria</p>
            </div>
            <div class="info__row">
                <img
                    class="info__icon"
                    src="https://picsum.photos/300/300"
                    alt=""
                />
                <p class="info__description">Videojuegos</p>
            </div>
            <div class="info__row">
                <img
                    class="info__icon"
                    src="https://picsum.photos/300/300"
                    alt=""
                />
                <p class="info__description">Crochet</p>
            </div>
            <div class="info__row">
                <img
                    class="info__icon"
                    src="https://picsum.photos/300/300"
                    alt=""
                />
                <p class="info__description">Violin</p>
            </div>
            <div class="info__row">
                <img
                    class="info__icon"
                    src="https://picsum.photos/300/300"
                    alt=""
                />
                <p class="info__description">Manga-Anime</p>
            </div>
            <div class="info__row">
                <img
                    class="info__icon"
                    src="https://picsum.photos/300/300"
                    alt=""
                />
                <p class="info__description">Marketing</p>
            </div>
            <div class="info__row">
                <img
                    class="info__icon"
                    src="https://picsum.photos/300/300"
                    alt=""
                />
                <p class="info__description">Guitarra</p>
            </div>
            <div class="info__row">
                <img
                    class="info__icon"
                    src="https://picsum.photos/300/300"
                    alt=""
                />
                <p class="info__description">Diseño</p>
            </div>
        </div>
        <button type="button" class="topics__button" routerLink="/">
            Siguiente
        </button>
    </div>
</div>
