<section class="container">
    <form class="tutorial" [formGroup]="formTutorial">
        <h1 class="tutorial__h1">Crear tutorial</h1>
        <span class="tutorial__span"
            >Todos los campos con * son obligatorios</span
        >
        <div class="mb-3 tutorial__input">
            <label for="title" class="form-label">Título*</label>
            <input
                type="text"
                class="form-control"
                id="title"
                aria-describedby="title"
                formControlName="titulo"
            />
        </div>
        <div class="mb-3 tutorial__input">
            <label for="description" class="form-label"
                >Descripción corta*</label
            >
            <textarea
                type="text"
                class="form-control"
                id="description"
                aria-describedby="description"
                formControlName="descripcion"
            ></textarea>
        </div>
        <div class="tutorial__section">
            <div class="mb-3 tutorial__uploadImg">
                <div class="tutorial__uploadLabelContainer">
                    <label
                        class="btn btn-success tutorial__uploadFileLabel"
                        for="file"
                        ><i class="fas fa-camera"></i> Portada*</label
                    >
                    <input
                        #file
                        class="tutorial__inputFile"
                        type="file"
                        accept="image/"
                        id="file"
                        formControlName="banner"
                        (change)="preview(file.files)"
                    />
                </div>
                <div *ngIf="!imgUrl" class="tutorial__placeHolder"></div>
                <img
                    *ngIf="imgUrl"
                    class="tutorial__imagePreview"
                    [src]="imgUrl"
                    alt="preview"
                />
            </div>
            <div class="form-check tutorial__rightColumn">
                <div class="tutorial__checkContainer">
                    <label class="form-check-label" for="sensible">
                        Este contenido es apto para menores de edad
                    </label>
                    <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="sensible"
                        formControlName="sensible"
                    />
                </div>
                <div>
                    <select class="form-select" aria-label="Temas">
                        <option selected>Elija un tema</option>
                        <option value="1">Teoría musical</option>
                        <option value="2">Programación</option>
                        <option value="69">Dibuja</option>
                        <option value="69">Carpinteria</option>
                        <option value="69">Crochet</option>
                        <option value="69">Manga - anime</option>
                        <option value="69">Guitarra</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="steps" *ngFor="let step of stepsArray; let i = index">
            <div class="mb-3 steps__input">
                <label for="step" class="form-label steps__label">
                    <span>Paso {{ step }}</span>
                    <i class="fas fa-times steps__cross"></i>
                </label>
                <textarea
                    type="text"
                    class="form-control"
                    id="step"
                    aria-describedby="description"
                    formControlName="descripcion"
                ></textarea>
            </div>
            <div
                class="steps__buttonGroup"
                [ngClass]="{
                    steps__buttonFix: i === stepsArray.length - 1
                }"
            >
                <button
                    *ngIf="i === stepsArray.length - 1"
                    type="button"
                    class="btn btn-success steps__button"
                    (click)="addStep(step)"
                >
                    <i class="fas fa-puzzle-piece"></i>Agregar paso
                </button>
                <div ngbDropdown class="d-inline-block">
                    <button
                        class="btn btn-success steps__button"
                        id="dropdownBasic1"
                        ngbDropdownToggle
                    >
                        Agregar
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem>
                            <i class="fas fa-image"></i> Imagen
                        </button>
                        <button ngbDropdownItem>
                            <i class="fab fa-youtube"></i> Youtube
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
