<section class="container">
    <ngx-spinner
        name="sp-create"
        bdColor="rgba(57,103,99,0.72)"
        size="medium"
        color="#ffffff"
        type="ball-clip-rotate"
        [fullScreen]="true"
    ></ngx-spinner>
    <swal
        #successTutorial
        title="Tutorial creado"
        text="El tutorial fue creado con éxito"
        icon="success"
        [toast]="true"
        [timer]="3000"
        [showConfirmButton]="false"
    ></swal>
    <form class="tutorial" [formGroup]="formTutorial">
        <h1 class="tutorial__h1">Crear tutorial</h1>
        <span class="tutorial__span"
            >Todos los campos con * son obligatorios</span
        >
        <div class="mb-3 tutorial__input">
            <label for="title" class="form-label">Título*</label>
            <input
                type="text"
                class="form-control"
                id="title"
                aria-describedby="title"
                formControlName="titulo"
            />
        </div>
        <div class="mb-3 tutorial__input">
            <label for="description" class="form-label"
                >Descripción corta*</label
            >
            <textarea
                type="text"
                class="form-control"
                id="description"
                aria-describedby="description"
                formControlName="descripcion"
            ></textarea>
        </div>
        <div class="tutorial__section">
            <div class="mb-3 tutorial__uploadImg">
                <div class="tutorial__uploadLabelContainer">
                    <label
                        class="btn btn-success tutorial__uploadFileLabel"
                        for="file"
                        ><i class="fas fa-camera"></i> Portada*</label
                    >
                    <input
                        #file
                        class="tutorial__inputFile"
                        type="file"
                        accept="image/"
                        id="file"
                        formControlName="banner"
                        (change)="preview(file.files)"
                    />
                </div>
                <!-- <div *ngIf="!imgUrl" class="tutorial__placeHolder"></div> -->
                <figure class="tutorial__imageContainer">
                    <ngx-spinner
                        name="sp-image"
                        bdColor="rgba(0,0,0,0)"
                        size="medium"
                        color="#000000"
                        type="ball-clip-rotate"
                        [fullScreen]="false"
                    ></ngx-spinner>
                    <img
                        *ngIf="!imgUrl"
                        class="tutorial__placeHolder"
                        src="https://picsum.photos/350/200"
                        alt="preview"
                        (load)="imageLoaded($event)"
                    />
                    <img
                        *ngIf="imgUrl"
                        class="tutorial__imagePreview"
                        [src]="imgUrl"
                        alt="preview"
                    />
                </figure>
            </div>
            <div class="form-check tutorial__rightColumn">
                <div class="tutorial__checkContainer">
                    <label class="form-check-label" for="sensible">
                        Este contenido no es apto para menores de edad
                    </label>
                    <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="sensible"
                        formControlName="sensible"
                    />
                </div>
                <div>
                    <select
                        class="tutorial__cssSelect form-select"
                        aria-label="level"
                        formControlName="nivel"
                    >
                        <option selected value="">
                            ¿Qué nivel tiene este tutorial?
                        </option>
                        <option value="bas">Básico</option>
                        <option value="med">Intermedio</option>
                        <option value="adv">Avanzado</option>
                    </select>

                    <select
                        class="tutorial__cssSelect form-select"
                        aria-label="level"
                        formControlName="temas_tutorial"
                    >
                        <option selected value="">
                            ¿De que tema es este tutorial?
                        </option>
                        <option
                            *ngFor="let theme of themeData"
                            value="{{ theme.id }}"
                        >
                            {{ theme.nombre_tema }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div
            class="steps"
            formArrayName="paso_Tutorial"
            *ngFor="let step of stepsArray.controls; let i = index"
        >
            <div [formGroupName]="i">
                <div class="steps__content">
                    <div
                        class="mb-3 steps__input"
                        [ngClass]="{
                            'steps__input--extra':
                                stepsArray.value[i].imagenURL ||
                                stepsArray.value[i].adjunto,
                            'steps__input--original':
                                (stepsArray.value[i].imagenURL &&
                                    stepsArray.value[i].adjunto) ||
                                (!stepsArray.value[i].imagenURL &&
                                    !stepsArray.value[i].adjunto)
                        }"
                    >
                        <label
                            for="description_{{
                                stepsArray.value[i].numero_paso
                            }}"
                            class="form-label steps__label"
                        >
                            <span
                                >Paso
                                {{ stepsArray.value[i].numero_paso }}</span
                            >
                            <i
                                *ngIf="i === stepsArray.length - 1 && i !== 0"
                                class="fas fa-times steps__cross"
                                (click)="removeStep(i)"
                            ></i>
                        </label>
                        <textarea
                            type="text"
                            class="form-control"
                            id="description_{{
                                stepsArray.value[i].numero_paso
                            }}"
                            aria-describedby="description"
                            formControlName="descripcion"
                        ></textarea>
                    </div>
                    <figure
                        class="tutorial__imageContainer"
                        *ngIf="stepsArray.value[i].imagenURL"
                    >
                        <img
                            class="tutorial__imagePreview"
                            [src]="stepsArray.value[i].imagenURL"
                            alt="image_{{ stepsArray.value[i].numero_paso }}"
                        />
                    </figure>
                    <div
                        class="tutorial__youtubeContainer"
                        *ngIf="stepsArray.value[i].adjunto"
                    >
                        <iframe
                            class="tutorial__youtubeVideo"
                            [src]="stepsArray.value[i].adjunto"
                            frameborder="0"
                            allowfullscreen
                        ></iframe>
                    </div>
                </div>
                <div
                    class="steps__buttonGroup"
                    [ngClass]="{
                        steps__buttonFix: i === stepsArray.length - 1
                    }"
                >
                    <button
                        *ngIf="i === stepsArray.length - 1"
                        type="button"
                        class="btn btn-success steps__button"
                        (click)="addStep(i)"
                    >
                        <i class="fas fa-puzzle-piece"></i>Agregar paso
                    </button>
                    <div ngbDropdown class="d-inline-block">
                        <button
                            class="btn btn-success steps__button"
                            id="dropdown_{{ stepsArray.value[i].numero_paso }}"
                            ngbDropdownToggle
                        >
                            Agregar
                        </button>
                        <div ngbDropdownMenu aria-labelledby="Dropdown">
                            <button ngbDropdownItem class="steps__imageButton">
                                <label
                                    class="steps__uploadFileLabel"
                                    for="image_{{
                                        stepsArray.value[i].numero_paso
                                    }}"
                                    ><i class="fas fa-image"></i> Imagen</label
                                >
                                <input
                                    class="tutorial__inputFile"
                                    type="file"
                                    accept="image/"
                                    id="image_{{
                                        stepsArray.value[i].numero_paso
                                    }}"
                                    (change)="addStepImage($event, i)"
                                />
                            </button>
                            <button ngbDropdownItem (click)="addYoutubeLink(i)">
                                <i class="fab fa-youtube"></i> Youtube
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tutorial__create">
            <button
                type="button"
                class="btn btn-success tutorial__buttonCreate"
                (click)="postTutorial()"
                [disabled]="!formTutorial.valid"
            >
                Crear tutorial
            </button>
        </div>
    </form>
</section>
