<div class="container">
    <img class="" src="" alt="" />
    <div class="container__linksList">
        <p>Temas que te pueden interesar</p>
        <ul class="ulClass">
            <li><img src="" alt="" />Escritura</li>
            <li><img src="" alt="" />Idiomas</li>
            <li><img src="" alt="" />Cocina</li>
            <li><img src="" alt="" />Video juegos</li>
            <li><img src="" alt="" />Víolin</li>
            <li><img src="" alt="" />Teoría musical</li>
        </ul>
    </div>
</div>
