<section class="container">
    <div class="userNavigation">
        <div class="userNavigation__userBasics">
            <img
                class="userNavigation__defaultImage"
                src="assets/images/user/default_user.png"
                alt="default_user.png"
            />
            <span>Nombre</span>
        </div>
        <nav
            class="
                userNavigation__myNav
                navbar navbar-expand-lg navbar-light
                bg-light
            "
        >
            <div class="container-fluid">
                <a class="navbar-brand userNavigation__myNavLetters" href="#"
                    >Tutoriales</a
                >
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarScroll"
                    aria-controls="navbarScroll"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand userNavigation__myNavLetters" href="#"
                    >Información</a
                >
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarScroll"
                    aria-controls="navbarScroll"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand userNavigation__myNavLetters" href="#"
                    >Siguiendo</a
                >
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarScroll"
                    aria-controls="navbarScroll"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </div>
</section>
