.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: calc(100vh - 95px);
    padding: 2rem;
    max-width: 1024px;
}

.userNavigation {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__userBasics {
        display: flex;
        flex-direction: column;
        max-height: 50%;
        max-width: 100%;
        align-items: center;
    }
    &__myButton {
        margin: 10px;
    }
    &__defaultImage {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 10rem;
        height: 10rem;
        margin: 2.5rem;
        margin-bottom: 1rem;
        border-radius: 50%;
    }
    &__nameTitle {
        color: #53958f;
    }
    &__myNav {
        list-style-type: none;
        width: 100%;
        margin: 0;
        margin-top: 20px;
        padding: 0;
    }
    &__myNav {
        background-color: #53958f !important;
    }
    &__myNavLetters {
        cursor: pointer;
        color: white !important;
    }
}

.profile {
    &__inputFile {
        display: none;
    }
}
