<section class="container">
    <div class="userNavigation">
        <div class="userNavigation__userBasics">
            <div class="profile__uploadLabelContainer">
                <form [formGroup]="formUser">
                    <label
                        class="
                            userNavigation__myButton
                            btn btn-success
                            profile__uploadFileLabel
                        "
                        for="file"
                        ><i class="fas fa-camera"></i> Foto de perfil</label
                    >
                    <input
                        #file
                        class="profile__inputFile"
                        type="file"
                        accept="image/"
                        id="file"
                        formControlName="foto_perfil"
                        (change)="preview(file.files)"
                    />
                    <button
                        class="userNavigation__myButton btn btn-success"
                        (click)="userUpdate()"
                    >
                        Cambiar foto de perfil
                    </button>
                </form>
            </div>
            <img
                *ngIf="!imgUrl && userData?.foto_perfil == null"
                class="userNavigation__defaultImage"
                src="assets/images/user/default_user.png"
                alt="default_user.png"
            />
            <img
                *ngIf="!imgUrl && userData?.foto_perfil"
                class="userNavigation__defaultImage"
                [src]="userData?.foto_perfil"
                alt="default_user.png"
            />
            <img
                *ngIf="imgUrl"
                class="userNavigation__defaultImage profile__imagePreview"
                [src]="imgUrl"
                alt="preview"
            />
            <h1 class="userNavigation__nameTitle">{{ userData?.username }}</h1>
        </div>
        <nav
            class="
                userNavigation__myNav
                navbar navbar-expand-lg navbar-light
                bg-light
            "
        >
            <div class="container-fluid">
                <a
                    class="navbar-brand userNavigation__myNavLetters"
                    (click)="activateRoute(0)"
                >
                    Mis cursos</a
                >
                <a
                    class="navbar-brand userNavigation__myNavLetters"
                    (click)="activateRoute(1)"
                    >Información</a
                >
                <a
                    class="navbar-brand userNavigation__myNavLetters"
                    (click)="activateRoute(2)"
                    >Siguiendo</a
                >
            </div>
        </nav>
    </div>
    <div class="content">
        <app-mytutorials *ngIf="currentView === 0"></app-mytutorials>
        <app-my-information
            *ngIf="currentView === 1"
            [userData]="userData"
        ></app-my-information>
        <app-my-followers
            *ngIf="currentView === 2"
            [userData]="userData"
        ></app-my-followers>
    </div>
</section>
