<div class="login">
  <div class="card login__card">
    <div class="login__cardImage">
      <img
        class="login__image"
        src="assets/images/login/tarjeta1.png"
        alt="tarjeta"
      />
    </div>
    <div class="login__cardSection">
      <div class="login__cardTitle">
        <h1>Ingresa</h1>
        <span
          >¿No tienes una cuenta?
          <a class="login__hyperLink">Registrate</a></span
        >
      </div>
      <form class="login__cardForm">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Correo electronico o nombre de usuario</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
          <div id="emailHelp" class="form-text">
            Nunca compartiremos su correo electrónico con nadie más.
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Contraseña</label
            >
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <div class="mb-3 form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck1"
            />
            <label class="form-check-label" for="exampleCheck1"
              >Mantenerme conectado</label
            >
          </div>
        </div>
        <a class="login__hyperLink">¿Olvidaste tu nombre o contraseña?</a>
        <div class="login__cardBottom">
          <button type="button" class="login__button">Ingresar</button>
          <span
            >Al ingresar estas aceptando los
            <a class="login__hyperLink">terminos y condiciones</a></span
          >
        </div>
      </form>
    </div>
  </div>
</div>
