<div class="info">
    <div
        class="info__row"
        *ngFor="let follower of userData?.following; let i = index"
    >
        <img
            *ngIf="follower.following_user_id.foto_perfil != null"
            class="info__icon"
            [src]="follower.following_user_id.foto_perfil"
            alt="User.png"
        />
        <img
            *ngIf="follower.following_user_id.foto_perfil == null"
            class="info__icon"
            src="https://picsum.photos/400?random={{ i }}"
            alt="User.png"
        />
        <p class="info__description">
            {{ follower.following_user_id.username }}
        </p>
    </div>
    <span class="info__noFollowsSpan" *ngIf="userData?.following.length == 0"
        >Aún no sigues a nadie</span
    >
</div>
