<div class="info">
    <div class="info__row">
        <img
            class="info__icon"
            src="https://picsum.photos/300/300"
            alt="User.png"
        />
        <p class="info__description">Usuario</p>
    </div>
    <div class="info__row">
        <img
            class="info__icon"
            src="https://picsum.photos/300/300"
            alt="User.png"
        />
        <p class="info__description">Usuario</p>
    </div>
    <div class="info__row">
        <img
            class="info__icon"
            src="https://picsum.photos/300/300"
            alt="User.png"
        />
        <p class="info__description">Usuario</p>
    </div>
    <div class="info__row">
        <img
            class="info__icon"
            src="https://picsum.photos/300/300"
            alt="User.png"
        />
        <p class="info__description">Usuario</p>
    </div>
    <div class="info__row">
        <img
            class="info__icon"
            src="https://picsum.photos/300/300"
            alt="User.png"
        />
        <p class="info__description">Usuario</p>
    </div>
    <div class="info__row">
        <img
            class="info__icon"
            src="https://picsum.photos/300/300"
            alt="User.png"
        />
        <p class="info__description">Usuario</p>
    </div>
    <div class="info__row">
        <img
            class="info__icon"
            src="https://picsum.photos/300/300"
            alt="User.png"
        />
        <p class="info__description">Usuario</p>
    </div>
    <div class="info__row">
        <img
            class="info__icon"
            src="https://picsum.photos/300/300"
            alt="User.png"
        />
        <p class="info__description">Usuario</p>
    </div>
</div>
