<div class="info">
    <div class="info__row">
        <img
            class="info__icon"
            src="assets/images/navbar/graduado.png"
            alt=""
        />
        <p class="info__description">Institución educativa</p>
    </div>
    <div class="info__row">
        <img
            class="info__icon"
            src="assets/images/navbar/facebook.png"
            alt=""
        />
        <p class="info__description">Facebook</p>
    </div>
    <div class="info__row">
        <img class="info__icon" src="assets/images/navbar/idiomas.png" alt="" />
        <p class="info__description">Idiomas</p>
    </div>
    <div class="info__row">
        <img
            class="info__icon"
            src="assets/images/navbar/instagram.png"
            alt=""
        />
        <p class="info__description">Instagram</p>
    </div>
    <div class="info__row">
        <img class="info__icon" src="assets/images/navbar/mapa.png" alt="" />
        <p class="info__description">Residencia</p>
    </div>
    <div class="info__row">
        <img class="info__icon" src="assets/images/navbar/gorjeo.png" alt="" />
        <p class="info__description">Twitter</p>
    </div>
    <div class="info__row">
        <img
            class="info__icon"
            src="assets/images/navbar/calendario.png"
            alt=""
        />
        <p class="info__description">Fecha de ingreso</p>
    </div>
    <div class="info__row">
        <img class="info__icon" src="assets/images/navbar/youtube.png" alt="" />
        <p class="info__description">Youtube</p>
    </div>
</div>
