<form
    class="info"
    action=""
    [formGroup]="formUser"
    (keydown.enter)="$event.preventDefault()"
>
    <div class="info__changeButtonContainer">
        <button
            *ngIf="infoMod != true"
            class="btn btn-success"
            (click)="modify()"
        >
            Modificar información &nbsp; <i class="fas fa-pencil-alt"></i>
        </button>
        <button
            *ngIf="infoMod == true"
            class="btn btn-success"
            (click)="cancelModify()"
        >
            Cancelar &nbsp; <i class="fas fa-times"></i>
        </button>
    </div>

    <div class="info__row">
        <img
            class="info__icon"
            src="assets/images/navbar/graduado.png"
            alt="graduado.png"
        />
        <label *ngIf="infoMod == true" for="institucion_educativa">
            <span>¿Donde estudiaste?</span><br />
            <input
                type="text"
                id="institucion_educativa"
                placeholder="Tu institución"
                formControlName="institucion_educativa"
            />
        </label>
        <p
            *ngIf="infoMod != true && userData.institucion_educativa"
            class="info__description"
        >
            {{ userData.institucion_educativa }}
        </p>
        <p
            *ngIf="infoMod != true && !userData.institucion_educativa"
            class="info__description"
        >
            institucion Educativa
        </p>
    </div>
    <div class="info__row">
        <img
            class="info__icon"
            src="assets/images/navbar/facebook.png"
            alt="facebook.png"
        />
        <label *ngIf="infoMod == true" for="nombre">
            <span>¿Cuál es tu facebook?</span><br />
            <input
                type="url"
                id="nombre"
                placeholder="Tu cuenta de facebook"
                formControlName="facebookurl"
            />
        </label>
        <p
            *ngIf="infoMod != true && userData.facebookurl"
            class="info__description"
        >
            {{ userData.facebookurl }}
        </p>
        <p
            *ngIf="infoMod != true && !userData.facebookurl"
            class="info__description"
        >
            Facebook
        </p>
    </div>
    <div class="info__row">
        <img
            class="info__icon"
            src="assets/images/navbar/idiomas.png"
            alt="idiomas.png"
        />
        <label *ngIf="infoMod == true" for="nombre">
            <span
                >¿Qué idiomas manejas?
                <br />
                Utilizar el formato abreviado &#40; ej: en,es,fr,etc &#41;</span
            ><br />
            <input
                type="text"
                id="nombre"
                placeholder="Tus idiomas"
                formControlName="idiomas"
            />
        </label>
        <p
            *ngIf="infoMod != true && userData.idiomas != []"
            class="info__description"
        >
            {{ userData.idiomas }}
        </p>
        <p
            *ngIf="infoMod != true && userData.idiomas == []"
            class="info__description"
        >
            Idiomas
        </p>
    </div>
    <div class="info__row">
        <img
            class="info__icon"
            src="assets/images/navbar/instagram.png"
            alt="instagram.png"
        />
        <label *ngIf="infoMod == true" for="nombre">
            <span>¿Cuál es tu instagram?</span><br />
            <input
                type="text"
                id="nombre"
                placeholder="Tu Instagram"
                formControlName="instagramurl"
            />
        </label>
        <p
            *ngIf="infoMod != true && userData.instagramurl"
            class="info__description"
        >
            {{ userData.instagramurl }}
        </p>
        <p
            *ngIf="infoMod != true && !userData.instagramurl"
            class="info__description"
        >
            Instagram
        </p>
    </div>
    <div class="info__row">
        <img
            class="info__icon"
            src="assets/images/navbar/mapa.png"
            alt="mapa.png"
        />
        <label *ngIf="infoMod == true" for="nombre">
            <span>¿De donde eres?</span><br />
            <input
                type="url"
                id="nombre"
                placeholder="Tu País"
                formControlName="ubicacion"
            />
        </label>
        <p
            *ngIf="infoMod != true && userData.ubicacion"
            class="info__description"
        >
            {{ userData.ubicacion }}
        </p>
        <p
            *ngIf="infoMod != true && !userData.ubicacion"
            class="info__description"
        >
            Residencia
        </p>
    </div>
    <div class="info__row">
        <img
            class="info__icon"
            src="assets/images/navbar/gorjeo.png"
            alt="twitter.png"
        />
        <label *ngIf="infoMod == true" for="nombre">
            <span>¿Cuál es tu instagram?</span><br />
            <input
                type="text"
                id="nombre"
                placeholder="Tu instagram"
                formControlName="instagramurl"
            />
        </label>
        <p
            *ngIf="infoMod != true && userData.twitterurl"
            class="info__description"
        >
            {{ userData.twitterurl }}
        </p>
        <p
            *ngIf="infoMod != true && !userData.twitterurl"
            class="info__description"
        >
            Twitter
        </p>
    </div>
    <div class="info__row">
        <img
            class="info__icon"
            src="assets/images/navbar/calendario.png"
            alt="calendario.png"
        />
        <p class="info__description">
            {{ userData.fecha_registro | date: "fullDate" }}
        </p>
    </div>
    <div class="info__row">
        <img
            class="info__icon"
            src="assets/images/navbar/youtube.png"
            alt="youtube.png"
        />
        <label *ngIf="infoMod == true" for="nombre">
            <span>¿Cuál es tu Youtube?</span><br />
            <input
                type="text"
                id="nombre"
                placeholder="Tu Youtube"
                formControlName="youtubeurl"
            />
        </label>
        <p
            *ngIf="infoMod != true && userData.youtubeurl"
            class="info__description"
        >
            {{ userData.youtubeurl }}
        </p>
        <p
            *ngIf="infoMod != true && !userData.youtubeurl"
            class="info__description"
        >
            Youtube
        </p>
    </div>
    <div class="info__upgradeButtonContainer">
        <button
            *ngIf="infoMod == true"
            class="btn btn-success"
            (click)="userUpdate(formUser.value)"
        >
            Actualizar Información
        </button>
    </div>
</form>
