<div class="card">
    <div class="card__profile">
        <div class="card__avatarContainer">
            <img
                class="card__avatar"
                src="assets/images/user/avatar.jpg"
                alt="pancho"
            />
        </div>
        <div class="card__profileInformation">
            <div class="card__profilePrimeInfo">
                <div class="card__account">
                    <span class="card__name">JuanP&nbsp;</span>
                </div>
            </div>
        </div>
        <p class="card__title">Ha hecho algo</p>
    </div>
    <div class="card__content">
        <div class="card__information">
            <p class="card__description">Hace x tiempo</p>
        </div>
    </div>
</div>
