.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem 0.5rem;
    padding-bottom: 0.1rem;
    width: 100%;
    height: auto;
    background-color: #e8e8e4;
    cursor: pointer;
    &:hover {
        background-color: #d8d8bd;
    }
    &__profile {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }
    &__avatarContainer {
        border-radius: 50%;
        border: 1px solid black;
        overflow: hidden;
        min-width: 2.5rem;
        max-width: 2.5rem;
        height: 2.5rem;
    }
    &__avatar {
        width: 100%;
        height: 100%;
    }
    &__profileInformation {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding-left: 0.5rem;
        width: 10%;
        margin-bottom: 0.5rem;
    }
    &__profilePrimeInfo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 25%;
        margin-bottom: 0.3rem;
    }
    &__account {
        display: flex;
        align-items: center;
    }
    &__name {
        font-size: 1rem;
        font-weight: 600;
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    &__information {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    &__title {
        width: 100%;
        text-align: start;
        font-size: 1.4rem;
        padding-left: 3rem;
    }
    &__description {
        display: flex;
        align-items: flex-end;
        width: 100%;
        font-size: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 2rem;
        margin: 0;
        margin-bottom: 0.3rem;
    }
}
