<div class="card" [routerLink]="['/tutorial', data.id]">
    <div class="card__profile">
        <div class="card__avatarContainer">
            <img
                class="card__avatar"
                src="assets/images/user/avatar.jpg"
                alt="pancho"
            />
        </div>
        <div class="card__profileInformation">
            <div class="card__profilePrimeInfo">
                <div class="card__account">
                    <span class="card__name">JuanP&nbsp;</span>
                    <span class="card__circle">&#11044;</span>
                    <span class="card__follow">&nbsp;Seguir</span>
                </div>
                <div class="card__likes">
                    <span class="card__likesNumber">80</span>
                    <i class="fas fa-feather-alt card__likesIcon"></i>
                </div>
            </div>
            <span class="card__date">14/09</span>
        </div>
    </div>
    <div class="card__content">
        <div class="card__information">
            <h1 class="card__title">{{ data.titulo }}</h1>
            <p class="card__description">
                {{ data.descripcion }}
            </p>
            <span class="card__level"
                >Nivel:
                <span class="card__levelType">{{
                    data.nivel | levels
                }}</span></span
            >
        </div>
        <div class="card__assets">
            <figure class="card__imageContainer">
                <ngx-spinner
                    name="sp-card"
                    bdColor="rgba(0,0,0,0)"
                    size="medium"
                    color="#000000"
                    type="ball-clip-rotate"
                    [fullScreen]="false"
                ></ngx-spinner>
                <!-- <img
                    class="card__image"
                    src="https://picsum.photos/160/150"
                    alt="card_image"
                    (load)="loadingImage()"
                /> -->
                <img
                    class="card__image"
                    [src]="data.banner"
                    alt=""
                    (load)="loadingImage()"
                />
            </figure>
        </div>
    </div>
</div>
