<div class="tutorialContainer">
    <div class="tutorial">
        <div class="tutorial__accountHeader">
            <div class="tutorial__avatarContainer">
                <img
                    class="tutorial__avatar"
                    src="assets/images/user/avatar.jpg"
                    alt="avatar"
                />
            </div>
            <div class="tutorial__accountInformation">
                <div class="tutorial__accountContainerInformation">
                    <div class="tutorial__accountName">
                        {{ tutorialData?.autor.username }}&nbsp;
                        <span class="tutorial__circle">&#11044;</span>
                        <span class="tutorial__follow">&nbsp;Seguir</span>
                    </div>
                    <div class="tutorial__likes">
                        <span class="tutorial__likesNumber">{{
                            tutorialData.plumas_tutoriales.length
                        }}</span>
                        <i class="fas fa-feather-alt tutorial__likesIcon"></i>
                    </div>
                </div>
                <div class="tutorial__accountDate">
                    {{ tutorialData.fecha_creacion | date: "fullDate" }}
                </div>
            </div>
        </div>
        <div class="tutorial__header">
            <div class="tutorial__content">
                <h1 class="tutorial__title">{{ tutorialData?.titulo }}</h1>
                <p class="tutorial__description">
                    {{ tutorialData?.descripcion }}
                </p>
                <div class="tutorial__information">
                    <div class="tutorial__level">
                        Nivel:
                        <span class="tutorial__levelType">{{
                            tutorialData?.nivel | levels
                        }}</span>
                    </div>
                    <div class="tutorial__theme">
                        Tema:
                        <span class="tutorial__themeType">{{
                            tutorialData?.temas_tutorial[0].nombre_tema
                        }}</span>
                    </div>
                </div>
            </div>
            <figure class="tutorial__imageContainer">
                <ngx-spinner
                    name="sp-tutorial"
                    bdColor="rgba(0,0,0,0)"
                    size="medium"
                    color="#000000"
                    type="ball-clip-rotate"
                    [fullScreen]="false"
                ></ngx-spinner>
                <!-- <img
                    class="tutorial__image"
                    src="https://picsum.photos/350/350"
                    alt="tutorial_image"
                    (load)="hideSpinner('sp-tutorial')"
                /> -->
                <img
                    class="tutorial__image"
                    [src]="tutorialData?.banner"
                    alt=""
                    (load)="hideSpinner('sp-tutorial')"
                />
            </figure>
        </div>
        <ol
            class="steps"
            *ngFor="let step of tutorialData?.paso_Tutorial; let i = index"
        >
            <li class="steps__step">
                <h2 class="steps__title">{{ i + 1 }}.</h2>
                <p class="steps__content">
                    {{ step.descripcion }}
                </p>
                <figure *ngIf="step.imagen" class="steps__imageContainer">
                    <ngx-spinner
                        name="sp-{{ i }}"
                        bdColor="rgba(0,0,0,0)"
                        size="medium"
                        color="#000000"
                        type="ball-clip-rotate"
                        [fullScreen]="false"
                    ></ngx-spinner>
                    <!-- <img
                        class="steps__image"
                        src="https://picsum.photos/800/400"
                        alt="paso"
                        (load)="hideSpinner('sp-{{id}}')"
                    /> -->
                    <img
                        class="steps__image"
                        [src]="step.imagen"
                        alt="paso"
                        (load)="hideSpinner('sp-{{id}}')"
                    />
                </figure>
            </li>
        </ol>
    </div>
</div>
