<div class="tutorialContainer">
    <div class="tutorial">
        <div class="tutorial__accountHeader">
            <div class="tutorial__avatarContainer">
                <img
                    class="tutorial__avatar"
                    src="assets/images/user/avatar.jpg"
                    alt="avatar"
                />
            </div>
            <div class="tutorial__accountInformation">
                <div class="tutorial__accountContainerInformation">
                    <div class="tutorial__accountName">
                        JuanP&nbsp;
                        <span class="card__circle">&#11044;</span>
                        <span>Seguir</span>
                    </div>
                    <div class="tutorial__likes">
                        <span class="tutorial__likesNumber">80</span>
                        <i class="fas fa-feather-alt tutorial__likesIcon"></i>
                    </div>
                </div>
                <div class="tutorial__accountDate">14/09</div>
            </div>
        </div>
        <div class="tutorial__header">
            <div class="tutorial__content">
                <h1 class="tutorial__title">Como preparar aguapanela</h1>
                <p class="tutorial__description">
                    Te enseñaré paso a paso cómo realizar una deliciosa
                    aguapanela
                </p>
                <div class="tutorial__information">
                    <div class="tutorial__level">
                        Nivel: <span class="tutorial__levelType">Básico</span>
                    </div>
                    <div class="tutorial__theme">
                        Tema: <span class="tutorial__themeType">Cocina</span>
                    </div>
                </div>
            </div>
            <figure class="tutorial__imageContainer">
                <ngx-spinner
                    name="sp-card"
                    bdColor="rgba(0,0,0,0)"
                    size="medium"
                    color="#000000"
                    type="ball-clip-rotate"
                    [fullScreen]="false"
                ></ngx-spinner>
                <img
                    class="tutorial__image"
                    src="https://picsum.photos/160/150"
                    alt="card_image"
                />
            </figure>
        </div>
        <ol class="steps">
            <li class="steps__step">
                <h2 class="steps__title">1. Materiales necesarios</h2>
                <p class="steps__content">
                    Para preparar esta deliciosa bebida necesitaremos 500ml de
                    agua, un recipiente metálico que se pueda poner al fuego,
                    cuadros de panela o trozos de un atao de panela
                    aproximadamente. Si tiene cuadritos necesitaremos uno y si
                    se tiene un atao cortar un pedazo de unos 100g.
                </p>
                <figure class="steps__imageContainer">
                    <img
                        class="steps__image"
                        src="assets/images/tutorials/franqqs_cursememe.png"
                        alt="paso"
                    />
                </figure>
            </li>
        </ol>
    </div>
</div>
