<div class="news">
    <div class="news__container">
        <div class="test">
            <form clasS="news__communiqueForm" action="">
                <input
                    type="text"
                    placeholder="Ingresa un comunicado"
                    aria-label="Comunicado"
                    class="news__myPublishInput form-control mr-sm-2"
                />
                <button
                    class="
                        news__myPublishButton
                        btn btn-outline-success
                        my-2 my-sm-0
                    "
                    type="submit"
                >
                    Publicar
                </button>
            </form>
            <app-news-card></app-news-card>
        </div>
    </div>
</div>
