<div class="card" *ngFor="let tutorial of userData?.tutorial_Usuario">
    <div class="card__profile">
        <div class="card__avatarContainer">
            <img
                class="card__avatar"
                [src]="userData?.foto_perfil"
                alt="pancho"
            />
        </div>
        <div class="card__profileInformation">
            <div class="card__profilePrimeInfo">
                <div class="card__account">
                    <h1 class="card__title">{{ tutorial.titulo }}</h1>
                </div>
                <div class="card__likes">
                    <span class="card__likesNumber">{{
                        tutorial.plumas_tutoriales.length
                    }}</span>
                    <i class="fas fa-feather-alt card__likesIcon"></i>
                </div>
            </div>
            <span class="card__date">{{
                tutorial.fecha_creacion | date: "fullDate"
            }}</span>
        </div>
    </div>
    <div class="card__content">
        <div class="card__information">
            <p class="card__description">{{ tutorial.descripcion }}</p>
            <span class="card__level"
                >Nivel:
                <span *ngIf="tutorial.nivel == 'bas'" class="card__levelType"
                    >Básico</span
                >
                <span *ngIf="tutorial.nivel == 'med'" class="card__levelType"
                    >Medio</span
                >
                <span *ngIf="tutorial.nivel == 'adv'" class="card__levelType"
                    >Avanzado</span
                >
            </span>
        </div>
        <div class="card__assets">
            <figure class="card__imageContainer">
                <img
                    class="card__image"
                    [src]="tutorial.banner"
                    alt="card_image"
                />
            </figure>
        </div>
    </div>
</div>
