<div class="card">
    <div class="card__profile">
        <div class="card__avatarContainer">
            <img
                class="card__avatar"
                src="assets/images/user/avatar.jpg"
                alt="pancho"
            />
        </div>
        <div class="card__profileInformation">
            <div class="card__profilePrimeInfo">
                <div class="card__account">
                    <span class="card__name">JuanP&nbsp;</span>
                    <span class="card__circle">&#11044;</span>
                    <span class="card__follow">&nbsp;Seguir</span>
                </div>
                <div class="card__likes">
                    <span class="card__likesNumber">80</span>
                    <i class="fas fa-feather-alt card__likesIcon"></i>
                </div>
            </div>
            <span class="card__date">14/09</span>
        </div>
    </div>
    <div class="card__content">
        <div class="card__information">
            <h1 class="card__title">Lore ipsum</h1>
            <p class="card__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur.
            </p>
            <span class="card__level"
                >Nivel: <span class="card__levelType">Basico</span></span
            >
        </div>
        <div class="card__assets">
            <figure class="card__imageContainer">
                <img
                    class="card__image"
                    src="https://picsum.photos/300/300"
                    alt="card_image"
                />
            </figure>
        </div>
    </div>
</div>
