<div class="container">
    <form class="container__formSearch form-inline my-2 my-lg-0">
        <input
            class="container__myInput form-control mr-sm-2"
            type="text"
            placeholder="Buscar"
            aria-label="Buscar"
            name="search"
            [(ngModel)]="searchInput"
        />
        <button
            class="container__myButton btn btn-outline-success my-2 my-sm-0"
            type="submit"
            (click)="searchTheme()"
        >
            Buscar
        </button>
    </form>
    <div class="container__linksList">
        <hr />
        <ul class="ulClass">
            <li>
                <span class="container__ulA" (click)="workingAlert()"
                    >Preguntas Frecuentes</span
                >
            </li>
            <li>
                <span class="container__ulA" (click)="workingAlert()"
                    >Sobre este espacio</span
                >
            </li>
            <li>
                <span class="container__ulA" (click)="workingAlert()"
                    >Condiciones</span
                >
            </li>
            <li>
                <span class="container__ulA" (click)="workingAlert()"
                    >Privacidad</span
                >
            </li>
            <li>
                <span class="container__ulA" (click)="workingAlert()"
                    >Uso aceptable</span
                >
            </li>
            <li>
                <a href="https://quetzapp01.wixsite.com/quetz" target="_blank"
                    >Empresa</a
                >
            </li>
        </ul>
    </div>
</div>
